{{template "header"}}
<body>
    
    {{template "navbar" .LoginUser}}
    

    <div class="container-form">
        <h4 class="text-center mb-4">Create Post</h4>
        
        <form enctype="multipart/form-data" action="/updatePost" method="post">
            <input type="hidden" id="selectedCategories" value='[
    {{range $index, $cat := .Post.Categories}}{{if $index}},{{end}}{"ID": {{$cat.ID}}, "Name": "{{$cat.Name}}"}{{end}}
]'>
            <input type="hidden" id="uuid" name="uuid" value="{{.Post.UUID}}">
            <input type="hidden" id="id" name="id" value="{{.Post.ID}}">
            <div class="mb-3">                
                <div class="mt-3">
                    <select id="categories" name="categories" class="form-control multiSelect" multiple="multiple" data-placeholder="Select categories">
                        {{range .Categories}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Title" name="title" value="{{.Post.Title}}">
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Description" rows="4" name="description">{{.Post.Description}}</textarea>
            </div>
            <div class="mb-3 text-center border p-3 rounded">
                <p class="text-muted">Attach an image or video (optional)</p>
                <input type="file" class="form-control" name="file" multiple>
            </div>
            <button type="submit" class="btn btn-success w-100">Edit post</button>
        </form>
    </div>

    {{template "footer"}}

</body>
</html>

<script>

$(document).ready(function() {
    let rawData = document.getElementById("selectedCategories").value.trim();
    try {
        let selectedCategories = JSON.parse(rawData);
        console.log("selectedCategories");
        console.log(selectedCategories);

        $.each(selectedCategories, function( index, selectedCategory ) {
            console.log(index + ": " + selectedCategory.Name);
            $(`#categories option[value='`+selectedCategory.ID+`']`).prop("selected", true).trigger('change');
        });
    } catch (error) {
        console.error("Invalid JSON:", error.message);
    }
});
</script>
