<!-- { template "header"}} -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Future Lab</title>
    <link rel="icon" href="/img/favicon.png">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/toast.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="/css/multiselect.css">
    <link rel="stylesheet" href="/css/forumManagementStyle.css">
    <link rel="stylesheet" href="/css/userManagementStyle.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>

<body>
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <img src="/img/favicon.png" class="rounded me-2" alt="Future Lab" width="20" height="20">
                <strong class="me-auto">Future Lab</strong>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Hello, world! This is a toast message.
            </div>
        </div>
    </div>

    <main>

    </main>

    <!-- { template "footer"}} -->
    <div class="container">
        <footer class="py-3 my-2">
            <p class="text-center text-body-secondary border-top mt-4 pt-4">© 2025 , Created by ❤️ ☕</p>
        </footer>
    </div>
    
    <script src="/js/modal.js"></script>
    <script src="/js/toast.js"></script>
    <script src="/js/accordion.js"></script>
    <script src="/js/dropdown.js"></script>
    <script src="/js/multiselect.js"></script>
    <script src="/js/script.js"></script>
    <script src="/js/chat.js"></script>
    <!-- <script src="/js/main.js"></script> -->

</body>

</html>