{{template "header"}}
<body>
    
    {{template "navbar" .LoginUser}}
    

    <div class="container-form">
        <h4 class="text-center mb-4">Create Post</h4>
        <form enctype="multipart/form-data" action="/submitPost" method="post">
            <div class="mb-3">                
                <div class="mt-3">
                    <select id="categories" name="categories" required class="form-control multiSelect" multiple="multiple" data-placeholder="Select categories">
                        {{range .Categories}}
                        <option value="{{.ID}}">{{.Name}}</option>
                        {{end}}
                    </select>
                </div>
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" placeholder="Title" required name="title">
            </div>
            <div class="mb-3">
                <textarea class="form-control" placeholder="Description" required rows="4" name="description"></textarea>
            </div>
            <div class="mb-3 text-center border p-3 rounded">
                <p class="text-muted">Attach an image or video (optional)</p>
                <input type="file" class="form-control" name="postFiles" multiple>
            </div>
            <button type="submit" class="btn btn-success w-100">Post</button>
        </form>
    </div>

    {{template "footer"}}

</body>
</html>
