{{define "posts"}}
<div class="row">
    {{$loginUserID := .LoginUser.ID}}
    {{range .Posts}}
        {{if $loginUserID}}
        <div class="col-sm-12 col-md-12 mb-3">
        {{else}}
        <div class="col-sm-12 col-md-6 mb-3">
        {{end}}
        
            <div class="post-card">
                <h5 class="mt-2 post-title"><a href="/post/{{.UUID}}" class="nav-link" >{{.Title}}</a></h5>
                <div>
                    <div class="d-flex text-body-secondary pt-3 m-posts">
                        <!-- <svg class="bd-placeholder-img flex-shrink-0 me-2 rounded" width="45" height="45" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 32x32" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#007bff"></rect><text x="50%" y="50%" fill="#007bff" dy=".3em">32x32</text></svg> -->
                        {{if .User.ProfilePhoto}}
                        <img class="bd-placeholder-img flex-shrink-0 me-2 rounded" role="img" src="/uploads/{{.User.ProfilePhoto}}" width="45" height="45"/>
                        {{else}}
                        <div style="padding: 7px;"><i class="fa-solid fa-user" style="font-size: 2rem;"></i></div>
                        {{end}}
                        <div class="pb-3 mb-0 small lh-sm w-100 mb-3 ms-2 mt-1">
                            <div class="d-flex justify-content-between mb-1 m-posts-userInfo">
                                <span class="post-user">{{.User.Username}}</span>
                                <span class="text-right m-posts-ctg">
                                    {{range .Categories}} 
                                        <span class="badge-p text-dark"><a href="/posts/{{.Name}}">{{.Name}}</a></span>
                                    {{end}}
                                </span>
                            </div>
                            <span class="d-block post-dateTime">{{.CreatedAt | formatDate }}</span>
                        </div>
                    </div>
                </div>
                <p class="post-description">{{.Description}}</p>
                {{range .PostFiles}}
                    <div class="col-md-12">
                        <img src="/uploads/{{.FileUploadedName}}" alt="post image" class="rounded mb-1" style="width: 100%; max-height: 400px;">
                    </div>
                {{end}}
            </div>
        </div>
    {{end}}
</div>
{{end}}