@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dongle&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
/* @import url('https://fonts.googleapis.com/css2?ffamily=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

body {
    background: rgb(239,245,249);
    background: -moz-linear-gradient(220deg, rgba(239,245,249,1) 0%, rgba(246,235,248,1) 35%, rgba(239,245,249,1) 100%);
    background: -webkit-linear-gradient(220deg, rgba(239,245,249,1) 0%, rgba(246,235,248,1) 35%, rgba(239,245,249,1) 100%);
    background: linear-gradient(220deg, rgba(239,245,249,1) 0%, rgba(246,235,248,1) 35%, rgba(239,245,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#eff5f9",endColorstr="#eff5f9",GradientType=1);
    padding-top: 160px;
}
.navbar {
    background-color: #ffffff;
    height: 93px;
    position: fixed;
    top: 0;

    /* And if you want the div to be full-width: */
    left: 0;
    right: 0;
    z-index: 1000;

    box-shadow: 0 0.150rem 0.25rem rgba(0, 0, 0, 0.065);
}
.navbar-logined > a.link-un,.navbar-logined > span{
    font-family: "Dongle", serif;
    font-size: 1.9rem;
    color: #999999;
    line-height: 93px;
}
.navbar-logined:hover{
    color: #999999;
}
.navbar-logined a.link-un{
    border-bottom: unset;
    transition: border-bottom padding-top 0.5s ease-in-out;
    padding-top: 0px;
}
.navbar-logined a.link-un:hover{
    color: #5e5e5e;
    border-bottom: 3px solid #533DE1;
    padding-top: 3px;
}
.dropdown-toggle-user.dropdown-toggle::after{
    display: none;
}
.btn-dropdown{
    background: transparent;
    font-family: "Dongle", serif;
    font-size: 1.9rem;
    color: #999999;
    line-height: 80px;
    border: unset;
    border-radius: 0;
}
.btn-dropdown:hover{
    background: transparent;
    color: #5e5e5e;
    border-bottom: 3px solid #533DE1;
    padding-top: 10px;
}
.btn-dropdown:active, .btn-dropdown:focus-visible{
    background: transparent !important;
    color: #5e5e5e !important;
}
.btn-dropdown::after{
    font-size: 1.2rem;
}

.input-p-main{
    background: #F2F2F2;
    padding: .675rem .65rem;
    border-radius: 20px;
}
.input-p{
    background: #F2F2F2;
    border: unset;
    color: #68696D;
}
.input-p:focus{
    background: #fafafa;
    box-shadow: 0 0 0 0.25rem rgba(165, 165, 165, 0.25);
    border-radius: 10px;
}
.input-p::placeholder {
    color: #999999;
}
.input-p::-ms-input-placeholder { /* Edge 12 -18 */
    color: #999999;
}
.input-p-main .btn{
    background: #FFFFFF;
    border: 1px solid #EDEDED;
    color: #68696D;
    border-radius: 12px;
    transition: background 0.5s;
}
.input-p-main .btn:hover{
    background: #f7f7f7;
    border: 1px solid #EDEDED;
    color: #68696D;
}
.singIn-btn{
    background: #533DE1;
    color: #F1E9FD;
    border: 1px solid #EDEDED;
    border-radius: 14px;
    padding: 0.8rem 1.2rem;
    border: unset;
    transition: background 0.5s;
}
.singIn-btn:hover{
    background: #4130b3;
    border: unset;
}
.singIn-btn:active{
    background: #372897 !important;
    border: unset;
}
.createPost-btn{
    background: #533DE1;
    color: #F1E9FD;
    border: 1px solid #EDEDED;
    border-radius: 14px;
    padding: 0.8rem 1.2rem;
    border: unset;
    transition: background 0.5s;
}
.createPost-btn:hover{
    background: #4130b3;
    border: unset;
}
.createPost-btn:active{
    background: #372897 !important;
    border: unset;
}

.hero {
    /* background-color: #fde9c9; */
    /* padding: 1rem 0 3rem 0; */
    padding: 0;
    text-align: center;
}
.hero img {
    width: 462px;
}
.hero .text-content{
    text-align: left;
    font-family: "Dongle", serif;
    font-size: 1.9rem;
    line-height: 30px;
    text-align: justify;
}
.hero .text-content .text-header{
    font-size: 5rem;
    font-family: "Berkshire Swash", serif;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 2rem;
}

.title-recentPosts{
    font-family: "Dongle", serif;
    text-align: center;
    margin: 3rem 0;
    padding: 3rem 0;
    position: relative;
    color: #505050;
    font-size: 5rem;
}
.title-recentPosts::before{
    font-family: "Dongle", serif;
    content: "Recent Posts";
    font-size: 12rem;
    position: absolute;
    left: calc(50% - 350px);
    top: -10%;
    color: #c9c9c9;
    z-index: -1;
    background: -webkit-linear-gradient(#dadada, #e4e4e428);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.7;
}
@media screen and (max-width: 650px){
    .title-recentPosts{
        margin: 1.5rem 0 .5rem 0;
        padding: 1.5rem 0 .5rem 0;
        font-size: 4rem;
    }
    .title-recentPosts::before{
        opacity: 0;
    }
}

.search-box-content{
    background: #fff;
    padding: .675rem .65rem;
    border-radius: 20px;
    margin-bottom: 1rem;
    box-shadow: 0 3px 10px rgba(148, 148, 148, 0.1);
}
.search-box-content input{
    color: #68696D;
    border: unset;
}
.search-box-content input:focus{
    background: #fafafa;
    box-shadow: 0 0 0 0.25rem rgba(165, 165, 165, 0.25);
    border-radius: 10px;
}
.search-box-content input::placeholder {
    color: #999999;
}
.search-box-content input::-ms-input-placeholder { /* Edge 12 -18 */
    color: #999999;
}
.search-box-content .btn{
    background: #533DE1;
    border: unset;
    color: #fff;
    border-radius: 12px;
    transition: background 0.5s;
    box-shadow: 2px 0 10px #4130b35b;
}
.search-box-content .btn:hover{
    background: #4130b3;
    border: unset;
    color: #fff;
}

.categories .btn{
    padding: 4px 15px;
    background: #EEE7FF;
    border: 1px solid #8E76D8;
    color: #8E76D8 !important;
    border-radius: 9px;
    margin: 0 0 8px 8px;
    font-size: 1rem;
}
.categories .btn:hover{
    background: #e3d8fd !important;
}
.categories .btn.ctg-active{
    background: #372897 !important;
    color: #F1E9FD !important;
}

.divaider{
    border-bottom: 1px solid #dadada;
}

.search-title{
    font-family: "Dongle", serif;
    color: #505050;
    font-size: 4rem;
}

.breadcrumb ul li span{
    font-family: "Dongle", serif;
    color: #505050;
    font-size: 1.7rem !important;
    margin-left: 2rem !important;
}

.post-card {
    background: #fff;
    padding: 2.6rem 2rem;
    border-radius: 18px;
    box-shadow: 0 3px 10px rgba(90, 90, 90, 0.1);
    margin-bottom: 2rem;
}
.bg-border-box{
    background: border-box;
}
.post-card .post-title{
    font-weight: bold;
    font-family: "Open Sans", serif;
    font-size: 2.3rem;
}
.post-card .post-user{
    font-family: "Dongle", serif;
    font-size: 1.8rem;
    line-height: 21px;
}
.post-card .post-dateTime{
    color: #c7c7c7;
    font-size: 22px;
    font-family: "Dongle", serif;
    line-height: 15px;
}
.post-card .post-description{
    font-family: "Open Sans", serif;
    font-size: 1rem;
    line-height: 26px;
    color: #666;
    font-weight: normal;
}
.post-card .badge-p{
    padding: 4px 15px;
    background: #EEE7FF;
    border: 1px solid #8E76D8;
    color: #8E76D8 !important;
    border-radius: 9px;
    margin: 0 0 0 8px;
    font-size: 1rem;
}
.post-card .badge-p:hover{
    background: #e3d8fd !important;
}
.post-card .badge-p a{
    color: #8E76D8 !important;
    text-decoration: none;
}
.categories button {
    margin-right: 10px;
}

.container-form {
    max-width: 500px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.dropdown-menu {
    /* background-color: #fdf4eb; */
    border: none;
    /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); */
}

/* .fa, .fas, .far, .fal, .fad, .fab {
    color: green;
} */

.col-left-userLogin{
    border-right: .13rem solid #e7e7e7;
    height: 100%;
    margin-right: 2rem;
    padding-right: 15px;
}
.col-left-userLogin .left-menu{
    padding-left: 0rem;
    list-style-type: none;
    margin-bottom: 4rem;
}
.col-left-userLogin .left-menu li{
    margin-bottom: 1.5rem;
}
.col-left-userLogin .left-menu li a{
    text-decoration: none;
    color: #555555;
    padding: 11px 55px 12px 0
}
.col-left-userLogin .left-menu li a i{
    background: #f7f7f7;
    border: 1px solid #EDEDED;
    color: #999999;
    border-radius: 12px;
    transition: background 0.5s;
    padding: .75rem;
    margin-right: 1rem;
}
.section-title-list{
    font-family: "Dongle", serif;
    color: #505050;
    font-size: 2rem !important;
    line-height: 22px;
}

.col-right-userLogin{
    border-left: .13rem solid #e7e7e7;
    height: 100%;
    margin-left: 2rem;
    padding-left: 15px;
}
.col-right-userLogin .title-username{
    font-family: "Dongle", serif;
    color: #505050;
    font-size: 2.5rem !important;
    line-height: 22px;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.col-right-userLogin .info-box-username{
    background: #fff;
    padding: 1.8rem 1.2rem;
    border-radius: 18px;
    box-shadow: 0 3px 10px rgba(90, 90, 90, 0.1);
    margin-bottom: 2rem;
    color: #999999;
    font-family: "Open Sans", serif;
    text-align: left;
}
.col-right-userLogin .info-box-username p{
    margin-bottom: 1.5rem;
}
.col-right-userLogin .info-box-logout a{
    color: #999999;
    text-decoration: none;
    padding: 0.5rem 5rem 0.5rem 0;
}
.col-right-userLogin .info-box-logout a:hover{
    color: #505050;
}

.like-inpost{
    padding: 13px;
    background: #F2F2F2;
    border: 1px solid #EDEDED;
    color: #198754;
    font-size: 1.3rem;
    border-radius: 12px;
    margin-right: .25rem;
}

.dislike-inpost{
    padding: 11px;
    background: #F2F2F2;
    border: 1px solid #EDEDED;
    color: #C24540;
    /* #68696D */
    font-size: 1.1rem;
    border-radius: 12px;
}

@media screen and (min-width: 651px){
    #offcanvasNavbar{
        display: none !important;
    }
}

@media screen and (max-width: 650px){
    .mt-3{
        margin-top: 0rem!important;
    }
    .hero .text-content .text-header{
        font-size: 3.5rem;
        text-align: center;
    }
    .m-posts-userInfo{
        display: grid !important;
    }
    .m-posts-ctg {
        margin: 10px 0 !important;
    }
    .m-posts-ctg span{
        margin: 0 8px 0 0 !important;
    }
    .m-post-detail{
        padding-right: 1rem!important;
        padding-left: 1rem!important;
    }
    .offcanvas .singIn-btn{
        margin-bottom: 1.5rem;
    }
    .col-right-userLogin{
        display: none !important;
    }
    .col-left-userLogin {
        border-right: 0rem solid #e7e7e7;
        height: 100%;
        margin-right: 0rem;
        padding-right: 0px;
    }
}