.custom-multiselect {
    position: relative;
    width: 100%;
    font-family: sans-serif;
    font-size: 1rem;
    color: var(--bs-gray-600);
}

.select-box {
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #fdfdfd;
    cursor: pointer;
    border-radius: var(--bs-border-radius);
}

.options-list {
    display: none;
    position: absolute;
    top: 100%;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #fff;
    max-height: 150px;
    overflow-y: auto;
    z-index: 999;
}

.options-list label {
    display: block;
    padding: 8px;
    cursor: pointer;
}

.options-list input {
    margin-right: 8px;
}

.custom-multiselect.open .options-list {
    display: block;
}
