<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{.Code}} Error</title>
        <link rel="stylesheet" href="/css/errors.css">
    </head>
    <body>
        <h1>{{.Code}} Error Page</h1>
        <p class="zoom-area"><b>{{.Info}}!</b></p>

        <section class="error-container">
            <span>
                <span id="span1">{{index .CodeSlice 0}}</span>
                <span>{{index .CodeSlice 1}}</span>
                <span id="span3">{{index .CodeSlice 2}}</span>
            </span>
        </section>
        <div class="link-container">
            <a href="/" class="more-link">Go Back Home</a>
          </div>
    </body>
</html>