<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{.Code}} Error</title>
        <link rel="icon" href="/images/favicon.ico">
        <link rel="stylesheet" href="/css/errors.css">
    </head>
    <body>
        <div id="error-{{.Code}}" class="error">{{.Code}}</div>
        <br><br>
        <span class="info">{{.Info}}!</span>
        <p class="btnP">
            <a href="/" class="btn-submit">Go Back Home</a>
        </p>
    </body>
</html>